Source: ros-kinetic-libfranka
Section: misc
Priority: optional
Maintainer: Franka Emika GmbH <support@franka.de>
Build-Depends: debhelper (>= 9.0.0), cmake, libeigen3-dev, libpoco-dev
Homepage: https://frankaemika.github.io
Standards-Version: 3.9.2

Package: ros-kinetic-libfranka
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libpoco-dev, ros-kinetic-catkin
Description: libfranka is a C++ library for Franka Emika research robots
